# =========================
# LLM 配置
# =========================

# 大模型 API Key
LLM_API_KEY=your_llm_api_key


# OpenAI Compatible API 地址
LLM_BASE_URL=https://api.deepseek.com


# 模型名称
LLM_MODEL_ID=


# 模型参数
LLM_TEMPERATURE=0.2

LLM_TIMEOUT=60


# =========================
# Web Search 配置
# =========================

# SerpAPI Key
# 不使用联网搜索可以留空
SERPAPI_API_KEY=your_serpapi_api_key


# =========================
# RAG 配置
# =========================

# Embedding模型

# 应填写模型名称

EMBEDDING_MODEL=BAAI/bge-small-zh-v1.5


# 检索数量
TOP_K=4


# =========================
# Agent 配置
# =========================

# Reflection最大循环次数
MAX_REFLECTIONS=1


# =========================
# HuggingFace配置
# =========================

# 使用本地缓存时开启
# 如果第一次运行需要联网下载，可以删除这一行

HF_HUB_OFFLINE=1